body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  padding: 20px;
}

.navbar {
  background-color: #3368DF !important;
  color: #ffffff;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0 0 10px;
}

a.navbar-item {
  color: #ffffff !important;
}

a.navbar-item:hover {
  color: #3368DF !important;
}